<!DOCTYPE html>
<html lang="en">
  <%- include("./header.ejs") %>

  <body>
    <!-- ======= Header ======= -->
    <%- include("./nav.ejs") %>
    <!-- End Header -->

    <%-body %>

    <!-- ======= Footer ======= -->
    <%- include("./footer.ejs") %>

    <!-- End Footer -->

    <%- include("./script.ejs") %>
  </body>
</html>
